.container {
    align-items: center;
    /* Centra verticalmente */
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    /* Establece la altura del contenedor al 100% de la ventana gráfica */
    justify-content: center;
    /* Centra horizontalmente */
}

p {
    border: 2px solid black;
    height: 100px;
    margin: 10px;
    padding: 30px;
    text-align: justify;
    width: 250px;
}

.p1,
.p1 a {
    color: red;
}

.p2,
.p2 a {
    color: rgb(255, 213, 0);
}

.p3,
.p3 a {
    color: green;
}