.content {
    background: linear-gradient(20deg,#fff000, black, red, blue);;
    border-radius: 15px;
    box-shadow: black 2px 2px 5px;
    color: black;
    display: flex;
    flex-direction: column;
    margin: 40px auto;
    max-width: 900px;
    padding: 40px;
    text-align: center;
    color: white;
}