.grid {
    width: 700px;
    border: 2px solid black;
    border-collapse: collapse;
    display: grid;
    grid-template-columns: 4fr 1fr 2fr 2fr;
    margin 	: auto;
}

.grid div {
    border: 2px solid black;
    height: 60px;
}

.grid div:nth-child(-n+4) {
    background-color: rgb(181, 181, 181);
}

